<section id="contact" (window:resize)="onResize($event)">
  <div id="contact" class="container" [style.width]="width">
    <p class="h1 mb-4 text-center" data-aos="fade-down">Contact</p>
    <form
      data-aos="zoom-in-up"
      #contactForm="ngForm"
      (submit)="onSubmit(contactForm)"
    >
      <mat-form-field appearance="standard">
        <mat-label for="fullname">Name</mat-label>
        <input
          matInput
          ngModel
          #contactName="ngModel"
          name="contactName"
          type="text"
          placeholder="First and Last Name"
          required
        />
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label for="Email">Email</mat-label>
        <input
          matInput
          ngModel
          #email="ngModel"
          name="email"
          type="email"
          placeholder="Your email"
          required
        />
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label for="Nameplate">Full Nameplate Information</mat-label>
        <input
          matInput
          ngModel
          #nameplate="ngModel"
          name="nameplate"
          type="text"
          placeholder="Nameplate Information"
          required
        />
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label for="Nameplate">Current motor power and speed information</mat-label>
        <input
          matInput
          ngModel
          #motorInfo="ngModel"
          name="motorInfo"
          type="text"
          placeholder="Motor Information"
          required
        />
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label for="Nameplate">Assembly</mat-label>
        <input
          matInput
          ngModel
          #assembly="ngModel"
          name="assembly"
          type="text"
          placeholder="Assembly"
          required
        />
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label for="Nameplate">Application</mat-label>
        <input
          matInput
          ngModel
          #application="ngModel"
          name="application"
          type="text"
          placeholder="Application"
          required
        />
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label for="message">Any additional changes to original installation</mat-label>
        <textarea
          matInput
          ngModel
          #additionalInfo="ngModel"
          name="additionalInfo"
          placeholder="Additional information (v-belts, loads, etc.)"
          required
        >
        </textarea>
      </mat-form-field>
      <button
        type="submit"
        mat-stroked-button
        color="primary"
        [disabled]="!contactForm.valid"
      >
        Send
      </button>
    </form>
  </div>
</section>
