<section id="contact" (window:resize)="onResize($event)">
  <div class="container" [style.width]="width">
    <p class="h1 mb-4 text-center" data-aos="fade-down">Contact</p>
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      action="/api/send-email"
      method="POST"
      enctype="multipart/form-data"
    >
      <mat-form-field>
        <mat-label for="fullname">Name</mat-label>
        <input
          matInput
          name="contactName"
          formControlName="contactName"
          type="text"
          placeholder="First and Last Name"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label for="Email">Email</mat-label>
        <input
          matInput
          name="email"
          formControlName="email"
          placeholder="Your email"
        />
      </mat-form-field>
      <div *ngIf="form.controls['email'].hasError('email') && !form.controls['email'].pristine">
        Please enter a valid email address.
      </div>

      <mat-form-field>
        <mat-label for="Nameplate">Full Nameplate Information</mat-label>
        <input
          matInput
          name="nameplate"
          formControlName="nameplate"
          type="text"
          placeholder="Nameplate Information"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label for="MotorInfo">Current motor power and speed information</mat-label>
        <input
          matInput
          name="motorInfo"
          formControlName="motorInfo"
          type="text"
          placeholder="Motor Information"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label for="Assembly">Assembly</mat-label>
        <input
          matInput
          name="assembly"
          formControlName="assembly"
          type="text"
          placeholder="Assembly"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label for="Application">Application</mat-label>
        <input
          matInput
          name="application"
          formControlName="application"
          type="text"
          placeholder="Application"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label for="AdditionalInfo">Any additional changes to original installation</mat-label>
        <textarea
          matInput
          name="additionalInfo"
          formControlName="additionalInfo"
          placeholder="Additional information (v-belts, loads, etc.)"
        >
        </textarea>
      </mat-form-field>

      <input
        type="file"
        (change)="onFileChange($event)"
        #fileInput
        accept=".pdf,.png,.jpg,.jpeg,.doc,.docx"
        style="display: none;"
        id="fileInput"
      >
      <label for="fileInput" class="customFileButton">Choose a File</label>
      <p id="selectedFileName"></p>

      <i class="fa-duotone fa-square-xmark" style="--fa-primary-color: #ff0505; --fa-secondary-color: #ffffff;"></i>

      <button
        class="button"
        type="submit"
        mat-stroked-button
        color="primary"
        [disabled]="!form.valid"
      >
        Send
      </button>
    </form>
  </div>
</section>
