<section>
  <div class="about_container">
    <div class="container">
      <div class="row intro_container">
        <div class="col-sm">
          <h1 class="intro_title">What we do</h1>
          <p class="intro_text">
            We offer a solution to customers when manufacturers no longer support a product. This is either due to insolvency, product rationalizations, general lack of support, and pricing obsolesce.
          </p>
        </div>
        <div class="intro_pic_container">
          <div class="col-sm intro_pic"></div>
        </div>
      </div>
    </div>
  </div>
</section>
