<div>
  <mat-toolbar>
      <span class="image-container">
        <img src="../../assets/imgs/torq_match_transparent.png" title="torqematch">
      </span>
      <span class="spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <ul [ngClass]="{ 'disabled-link': navbarService.isLinkDisabled }">
          <li class="hvr-bounce-to-bottom">
            <a (click)="scrollToElementId('about')">What we do</a>
          </li>
          <li class="hvr-bounce-to-bottom">
            <a (click)="scrollToElementId('project')">Projects</a>
          </li>
          <li class="hvr-bounce-to-bottom">
            <a (click)="scrollToElementId('contact')">Contact</a>
          </li>
        </ul>
      </div>

      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm [disableRipple]="true">
        <mat-icon class="res-button">menu</mat-icon>
      </button>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav position="end" fixedInViewport="true" [fixedTopGap]="menuOffset">
      <mat-nav-list>
        <a mat-list-item (click)="scrollToElementId('about')">What we do</a>
        <a mat-list-item (click)="scrollToElementId('project')">Projects</a>
        <a mat-list-item (click)="scrollToElementId('contact')">Contact</a>
        <a (click)="sidenav.toggle()" mat-list-item>
          <mat-icon>close</mat-icon> Close
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <app-about></app-about>
      <app-advantages></app-advantages>
      <app-projects></app-projects>
      <contact-form></contact-form>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
