<div>
  <mat-toolbar>
    <mat-toolbar-row>
      <span class="image-container">
        <img src="../../assets/imgs/torq_match_transparent.png" title="torqematch">
      </span>
      <span class="spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <ul>
          <li class="hvr-bounce-to-bottom">
            <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">What we do</a>
          </li>
          <li class="hvr-bounce-to-bottom">
            <a routerLink="/projects" routerLinkActive="active" ariaCurrentWhenActive="page">Projects</a>
          </li>
          <li class="hvr-bounce-to-bottom">
            <a routerLink="/contact-form" routerLinkActive="active" ariaCurrentWhenActive="page">Contact Us</a>
          </li>
        </ul>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
