<div>
  <mat-toolbar>
    <mat-toolbar-row>
      <span class="image-container">
        <img src="../../assets/imgs/torq_match_transparent.png" title="torqematch">
      </span>
      <span class="spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <ul [ngClass]="{ 'disabled-link': navbarService.isLinkDisabled }">
          <li class="hvr-bounce-to-bottom">
            <a (click)="scrollToElementId('about')">What we do</a>
          </li>
          <li class="hvr-bounce-to-bottom">
            <a (click)="scrollToElementId('project')">Projects</a>
          </li>
          <li class="hvr-bounce-to-bottom">
            <a (click)="scrollToElementId('contact')">Contact</a>
          </li>
        </ul>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
