<section (window:resize)="onResize($event)" [style.margin-top]="marginTop">
  <div class="seperator">
    <div class="custom-shape-divider-top-1684288185">
      <div class="custom-shape-divider-top-1684544898">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
        </svg>
    </div>
    </div>
  </div>
  <div class="advantages_container">
    <div class="container">
      <div class="row spacer">
        <div class="advantages_pic_container">
          <div class="col-sm advantages_pic"></div>
        </div>
        <div class="col-sm">
          <h1 class="advantages_title">Advantages</h1>
          <p class="advantages_text">
            In most circumstances, cost savings will be achieved on the following:
          </p>
          <ul>
            <li>No foundation work</li>
            <li>Unit cost versus original provider due to pricing obsolescence</li>
            <li>Affordable and available made to order service parts</li>
            <li>Peace of mind</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <h1 class="advantages_title">Our Services</h1>
          <p class="advantages_text">
            Torq-Match serves the need in the market for “Plug and Play”
          </p>
          <ul>
            <li>Critical dimensional replacement units</li>
            <li>Increased ratings</li>
            <li>Custom applications</li>
          </ul>
        </div>
        <div class="col-sm" id="animated-gear" [style.right]="rightPosition">
          <ng-lottie
            [options]="options"
            (animationCreated)="onAnimate($event)">
          </ng-lottie>
        </div>
      </div>
    </div>
  </div>
  <div class="seperator">
    <div class="custom-shape-divider-bottom-1684976471">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M598.97 114.72L0 0 0 120 1200 120 1200 0 598.97 114.72z" class="shape-fill"></path>
      </svg>
    </div>
  </div>
</section>
